/* Reset */
img {
    max-width: 100%;
}

/* Common */
body a {
    text-decoration: none;
    color: inherit;
}

/* Layout */

/* Header */
header {
    background-color: #2C3E50;
    color: #FFFFFF;
    height: 5rem;
}

.menu {
    display: none;
}

/* Jumbotron */
.jumbotron {
    background-color: #1ABC9C;
}

.title_jumbotron {
    font-size: 2.2rem;
}

.avatar_img {
    max-width: 15rem;
}

.star:before,
.star:after {
    content: "";
    display: inline-block;
    width: 5rem;
    height: 3px;
    background-color: #FFFFFF;
}

/* Portfolio */
.portfolio .star:before,
.portfolio .star:after {
    background-color: #2C3E50;
}

/* About */
.about {
    background-color: #1ABC9C;
    padding: 0 15%;
}

.about .star:before,
.about .star:after {
    width: 3rem;
}

.contact {
    padding: 0 15%;
}

.info {
    background-color: #3A546D;
    color: #FFFFFF;
    padding: 2rem;
}

.copyright {
    background-color: #2C3E50;
    color: #FFFFFF;
    padding: 2rem;
}

/* Media queries */
@media screen and (min-width: 576px) {
    /* Header */
    .title_header {
        font-size: 1.5rem;
    }

    .menu {
        display: block;
    }

    header .btn {
        display: none;
    }

    /* Jumbotron */
    .title_jumbotron {
        font-size: 4rem;
    }

    .subtitle_jumbotron {
        font-size: 1.5rem;
    }

    /* Portfolio */
    .title_portfolio {
        font-size: 3rem;
    }

    .star:before,
    .star:after {
        width: 8rem;
    }

    /* About */
    .title_about {
        font-size: 3rem;
    }

    .about .star:before,
    .about .star:after {
        width: 5rem;
    }    
}

@media screen and (min-width: 768px) {
    .about .star:before,
    .about .star:after {
        width: 8rem;
    }
}